-- MariaDB dump 10.19  Distrib 10.4.24-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: colegio
-- ------------------------------------------------------
-- Server version	10.4.24-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alumnos`
--

DROP TABLE IF EXISTS `alumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alumnos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` int(11) NOT NULL,
  `baja` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumnos`
--

LOCK TABLES `alumnos` WRITE;
/*!40000 ALTER TABLE `alumnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `alumnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `anuncio`
--

DROP TABLE IF EXISTS `anuncio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `anuncio` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `descripcion` text NOT NULL,
  `fecha_creacion` datetime DEFAULT current_timestamp(),
  `fecha_vencimiento` date NOT NULL,
  `codUsuario` int(11) NOT NULL,
  `baja` tinyint(4) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anuncio`
--

LOCK TABLES `anuncio` WRITE;
/*!40000 ALTER TABLE `anuncio` DISABLE KEYS */;
INSERT INTO `anuncio` VALUES (1,'suspencion de clases','El dia 25 de abril no abra clases por motivo de reunion de profesores','2026-04-24 20:57:35','2026-04-30',1,0);
/*!40000 ALTER TABLE `anuncio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `curso`
--

DROP TABLE IF EXISTS `curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `curso` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `grado` varchar(255) NOT NULL,
  `nivel` varchar(255) NOT NULL,
  `baja` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `curso`
--

LOCK TABLES `curso` WRITE;
/*!40000 ALTER TABLE `curso` DISABLE KEYS */;
INSERT INTO `curso` VALUES (1,'primero','secundaria',0),(2,'Segundo','Secundaria ',0),(3,'Tercero','Secundaria ',0),(4,'Cuarto ','Secundaria',0),(5,'Quinto','Secundaria',0),(6,'Sexto','Secundaria',0),(7,'Primero','Primaria',0);
/*!40000 ALTER TABLE `curso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cursoalumnos`
--

DROP TABLE IF EXISTS `cursoalumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cursoalumnos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codCurso` int(11) NOT NULL,
  `codProfesor` int(11) DEFAULT NULL,
  `nombres` varchar(255) NOT NULL,
  `apellidos` varchar(255) NOT NULL,
  `rude` varchar(300) DEFAULT NULL,
  `gestion` int(11) DEFAULT NULL,
  `baja` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cursoalumnos_codcurso_foreign` (`codCurso`),
  KEY `cursoalumnos_codprofesor_foreign` (`codProfesor`) USING BTREE
) ENGINE=MyISAM AUTO_INCREMENT=85 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cursoalumnos`
--

LOCK TABLES `cursoalumnos` WRITE;
/*!40000 ALTER TABLE `cursoalumnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cursoalumnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cursomateria`
--

DROP TABLE IF EXISTS `cursomateria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cursomateria` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codCurso` int(11) NOT NULL,
  `codMateria` int(11) NOT NULL,
  `codProfesor` int(11) NOT NULL,
  `gestion` int(11) NOT NULL,
  `baja` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cursomateria_codprofesor_foreign` (`codProfesor`),
  KEY `cursomateria_codcurso_foreign` (`codCurso`),
  KEY `cursomateria_codmateria_foreign` (`codMateria`)
) ENGINE=MyISAM AUTO_INCREMENT=42 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cursomateria`
--

LOCK TABLES `cursomateria` WRITE;
/*!40000 ALTER TABLE `cursomateria` DISABLE KEYS */;
INSERT INTO `cursomateria` VALUES (1,1,1,1,2025,0),(2,3,1,1,2025,0),(29,1,2,8,2026,0),(28,1,6,8,2026,0),(27,1,7,8,2026,0),(26,1,3,8,2026,0),(25,1,4,8,2026,0),(24,5,8,7,2026,0),(23,4,8,7,2026,0),(22,6,2,9,2026,0),(21,5,2,9,2026,0),(20,4,2,9,2026,0),(19,2,1,1,2026,0),(18,3,1,1,2026,0),(17,1,1,1,2026,0),(30,1,5,8,2026,0),(31,1,9,8,2026,0),(32,1,8,8,2026,0),(33,1,2,8,2025,0),(34,1,6,8,2025,0),(35,1,7,8,2025,0),(36,1,3,8,2025,0),(37,1,4,8,2025,0),(38,1,5,8,2025,0),(39,1,9,8,2025,0),(40,1,8,8,2025,0),(41,7,2,10,2026,0);
/*!40000 ALTER TABLE `cursomateria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `datoscolegio`
--

DROP TABLE IF EXISTS `datoscolegio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `datoscolegio` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigoUnidad` varchar(200) DEFAULT NULL,
  `unidadEducativa` varchar(800) DEFAULT NULL,
  `distritoEducativo` varchar(800) DEFAULT NULL,
  `codDepartamento` int(11) DEFAULT NULL,
  `dependencia` varchar(200) DEFAULT NULL,
  `turno` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `codDepartamento` (`codDepartamento`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `datoscolegio`
--

LOCK TABLES `datoscolegio` WRITE;
/*!40000 ALTER TABLE `datoscolegio` DISABLE KEYS */;
INSERT INTO `datoscolegio` VALUES (1,'81980992','SANTA ANA D','SANTA CRUZ 1',7,'CONVENIO','TARDE');
/*!40000 ALTER TABLE `datoscolegio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departamento`
--

DROP TABLE IF EXISTS `departamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departamento` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `baja` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=10 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departamento`
--

LOCK TABLES `departamento` WRITE;
/*!40000 ALTER TABLE `departamento` DISABLE KEYS */;
INSERT INTO `departamento` VALUES (1,'Chuquisaca',0),(2,'La Paz',0),(3,'Cochabamba',0),(4,'Oruro',0),(5,'Potos├¡',0),(6,'Tarija',0),(7,'Santa Cruz',0),(8,'Beni',0),(9,'Pando',0);
/*!40000 ALTER TABLE `departamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `egresos`
--

DROP TABLE IF EXISTS `egresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `egresos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `monto` decimal(10,2) NOT NULL,
  `fechaEgreso` date NOT NULL,
  `mes` int(11) NOT NULL,
  `gestion` int(11) NOT NULL,
  `concepto` varchar(255) NOT NULL,
  `baja` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `egresos`
--

LOCK TABLES `egresos` WRITE;
/*!40000 ALTER TABLE `egresos` DISABLE KEYS */;
INSERT INTO `egresos` VALUES (1,200.00,'2026-04-24',4,2026,'pago de luz',0),(2,500.00,'2026-04-24',4,2026,'pago al guardia',0);
/*!40000 ALTER TABLE `egresos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingresos`
--

DROP TABLE IF EXISTS `ingresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ingresos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codAlumno` int(11) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `fechaPago` date NOT NULL,
  `mes` int(11) NOT NULL,
  `gestion` int(11) NOT NULL,
  `concepto` varchar(255) NOT NULL,
  `baja` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingresos`
--

LOCK TABLES `ingresos` WRITE;
/*!40000 ALTER TABLE `ingresos` DISABLE KEYS */;
INSERT INTO `ingresos` VALUES (1,2,250.00,'2026-04-24',4,2026,'Mensualidad Escolar',0),(2,41,250.00,'2026-04-24',4,2026,'Mensualidad Escolar',0),(3,37,250.00,'2026-04-24',4,2026,'Mensualidad Escolar',0),(4,2,250.00,'2026-04-24',5,2026,'Mensualidad Escolar',0),(5,3,250.00,'2026-04-24',5,2026,'Mensualidad Escolar',0),(6,52,250.00,'2026-04-24',5,2026,'Mensualidad Escolar',0),(7,52,250.00,'2026-04-24',5,2026,'Mensualidad Escolar',1);
/*!40000 ALTER TABLE `ingresos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materia`
--

DROP TABLE IF EXISTS `materia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materia` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `areasCurriculares` varchar(600) DEFAULT NULL,
  `saberesConocimiento` varchar(600) DEFAULT NULL,
  `baja` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=10 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia`
--

LOCK TABLES `materia` WRITE;
/*!40000 ALTER TABLE `materia` DISABLE KEYS */;
/*!40000 ALTER TABLE `materia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notas`
--

DROP TABLE IF EXISTS `notas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codCursoAlumnos` int(11) NOT NULL,
  `codMateria` int(11) DEFAULT NULL,
  `calificacion1Ser` int(11) DEFAULT NULL,
  `calificacion2Ser` int(11) DEFAULT NULL,
  `calificacion3Ser` int(11) DEFAULT NULL,
  `calificacion1Saber` int(11) DEFAULT NULL,
  `calificacion2Saber` int(11) DEFAULT NULL,
  `calificacion3Saber` int(11) DEFAULT NULL,
  `calificacion4Saber` int(11) DEFAULT NULL,
  `calificacion5Saber` int(11) DEFAULT NULL,
  `calificacion6Saber` int(11) DEFAULT NULL,
  `calificacion7Saber` int(11) DEFAULT NULL,
  `calificacion1Hacer` int(11) DEFAULT NULL,
  `calificacion2Hacer` int(11) DEFAULT NULL,
  `calificacion3Hacer` int(11) DEFAULT NULL,
  `calificacion4Hacer` int(11) DEFAULT NULL,
  `calificacion5Hacer` int(11) DEFAULT NULL,
  `calificacion6Hacer` int(11) DEFAULT NULL,
  `calificacion7Hacer` int(11) DEFAULT NULL,
  `calificacion1Decidir` int(11) DEFAULT NULL,
  `calificacion2Decidir` int(11) DEFAULT NULL,
  `calificacion3Decidir` int(11) DEFAULT NULL,
  `trimestre` int(11) DEFAULT NULL,
  `autoevaluacion` int(11) DEFAULT NULL,
  `gestion` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notas_codcursolAalumnos_foreign` (`codCursoAlumnos`) USING BTREE
) ENGINE=MyISAM AUTO_INCREMENT=25 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notas`
--

LOCK TABLES `notas` WRITE;
/*!40000 ALTER TABLE `notas` DISABLE KEYS */;
/*!40000 ALTER TABLE `notas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persona`
--

DROP TABLE IF EXISTS `persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `persona` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) DEFAULT NULL,
  `apellidos` varchar(200) DEFAULT NULL,
  `baja` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=12 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persona`
--

LOCK TABLES `persona` WRITE;
/*!40000 ALTER TABLE `persona` DISABLE KEYS */;
INSERT INTO `persona` VALUES (1,'Marcela','Moron',0),(5,'Jorge','Moron',0),(3,'Julio','Perez',0),(4,'Sonia','Pereira',0),(6,'Carmen','Soliz',0),(7,'Jose','Salvatierra',0),(8,'Daniela','Viruez',0),(9,'Julio andres','Soliz',0),(10,'Fernando','Antelo',0),(11,'Ruben','Arteaga',0);
/*!40000 ALTER TABLE `persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profesor`
--

DROP TABLE IF EXISTS `profesor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profesor` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codUsuario` int(11) DEFAULT NULL,
  `nombre` varchar(300) DEFAULT NULL,
  `baja` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=13 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profesor`
--

LOCK TABLES `profesor` WRITE;
/*!40000 ALTER TABLE `profesor` DISABLE KEYS */;
INSERT INTO `profesor` VALUES (1,1,'Marcela Moron',0),(9,6,'Jose Salvatierra',0),(7,3,'Julio Perez',0),(8,4,'Sonia Pereira',0),(10,8,'Julio andres Soliz',0),(11,9,'Fernando Antelo',0),(12,10,'Ruben Arteaga',0);
/*!40000 ALTER TABLE `profesor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipousuario`
--

DROP TABLE IF EXISTS `tipousuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipousuario` (
  `codTipoUsuario` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) DEFAULT NULL,
  `baja` int(11) DEFAULT NULL,
  PRIMARY KEY (`codTipoUsuario`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipousuario`
--

LOCK TABLES `tipousuario` WRITE;
/*!40000 ALTER TABLE `tipousuario` DISABLE KEYS */;
INSERT INTO `tipousuario` VALUES (1,'Superusuario',0),(2,'Profesor(a)',0),(3,'Director(a)',0),(4,'Tutor(a)',0),(5,'Secretar├¡a',0);
/*!40000 ALTER TABLE `tipousuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tutor`
--

DROP TABLE IF EXISTS `tutor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tutor` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codCurso` int(11) DEFAULT NULL,
  `codProfesor` int(11) DEFAULT NULL,
  `baja` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `codCurso` (`codCurso`),
  KEY `codProfesor` (`codProfesor`)
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tutor`
--

LOCK TABLES `tutor` WRITE;
/*!40000 ALTER TABLE `tutor` DISABLE KEYS */;
INSERT INTO `tutor` VALUES (4,1,1,0),(7,5,9,0),(6,4,9,0),(5,3,1,0),(8,6,9,0),(9,2,1,0),(10,7,9,0);
/*!40000 ALTER TABLE `tutor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `codUsuario` int(11) NOT NULL AUTO_INCREMENT,
  `usuario` varchar(200) DEFAULT NULL,
  `clave` varchar(200) DEFAULT NULL,
  `codTipoUsuario` int(11) DEFAULT NULL,
  `codPersona` int(11) DEFAULT NULL,
  `baja` int(11) DEFAULT NULL,
  PRIMARY KEY (`codUsuario`),
  KEY `codTipoUsuario` (`codTipoUsuario`),
  KEY `codPersona` (`codPersona`) USING BTREE
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-24 20:59:23
